.scroll{
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    border-radius: 100%;
    background: linear-gradient(135deg, #8b4513 0%, #654321 100%);
    padding: 0.75rem;
    color: white;

}
